{% extends 'base.html' %}
{% block container %}

<style>
    body {
      background-color: #F6F2E6;
    }
  </style>

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
		{% if update %}
			<p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>
		{% endif %}
        <form method="post" action="{{ request.path }}" enctype="multipart/form-data" class="card mt-4 mb-3">{% csrf_token %}
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                {{ form.name.label }}
                {{ form.name }}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                {{ form.surname.label }}
                {{ form.surname }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                {{ form.status.label }}
                {{ form.status }}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                {{ form.salary.label }}
                {{ form.salary }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                {{ form.specialty.label }}
                {{ form.specialty }}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                {{ form.grade.label }}
                {{ form.grade }}
              </div>
            </div>
          </div>
          <div class="form-group pb-2">
            {{ form.education.label }}
			{{ form.education }}
          </div>
          <div class="form-group pb-2">
            {{ form.experience.label }}
			{{ form.experience }}
          </div>
          <div class="form-group pb-3">
            {{ form.portfolio.label }}
			{{ form.portfolio }}
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Сохранить">
          </div>
        </form>
      </div>
    </section>
  </main>

{% endblock %}