{% extends 'base.html' %}
{% block container %}

<main class="container mt-3 pb-5">
    <div class="row mt-5">
        <div class="col-12 col-lg-2">
            <div class="pl-3 mb-5">
                <p><a href="{{ prev_page }}">Назад</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <section class="pl-3">
                <a href="/companies/{{ vacancy.company.id }}"><img src="{{ vacancy.company.logo.url }}" width="130" height="80" alt=""></a>
                <div class="d-flex align-items-baseline align-content-baseline">
                    <h1 class="h2 mt-4 font-weight-bold">{{ vacancy.title }}</h1>
                    <p class="m-0 pl-3">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
                </div>
                <p class="mt-2">{{ vacancy.specialty.title }} {{ vacancy.skills }}</p>
                <p class="text-muted mb-4">{{ vacancy.company.title }} ({{ vacancy.company.employee_count }} человек), {{ vacancy.company.location }}</p>
                <div style="line-height: 1.8;">
                    <p>{{ vacancy.description }}</p>
                </div>
				
                <form method="post" action="{{ request.path }}/sent" class="card mt-4 mb-3">{% csrf_token %}
                    <div class="card-body mx-3">
                        <p class="h5 mt-3 pb-3 font-weight-normal">Отозваться на вакансию</p>                        
						{% for field in app_form %}
						  <div class="form-group">	
							<label class="mb-1" for="{{ field.name }}">{{ field.label }}</label>
							{{ field }}	
						  </div>
						{% endfor %}
                        											
						{% if request.user.is_authenticated %}						  		
                          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Отправить отклик">
						{% endif %}						
                    </div>
                </form>	
				{% if not request.user.is_authenticated %}	
				<form class="float-right" action="/login" method="get">{% csrf_token %}
					<button type="submit" class="btn btn-outline-info">Войти</button>
				  </form>
				{% endif %}				
            </section>
        </div>
    </div>
</main>
{% endblock %}